body{
    background-color: green;
    margin: 0;
}

main{
    width: 80%;
    margin:100px auto;
    display: flex;
    flex-wrap: wrap;
    


}

main img{
    width: 33%;
    margin: 0;
    filter: grayscale(100);
    transition: filter 1s;
    
}

main img:hover{
    filter: none;
    transition: 1s ;
    transform:  translateY(50px);
}

