body {
  background-color: green;
  margin: 0;
}

main {
  width: 80%;
  margin: 100px auto;
  display: flex;
  flex-wrap:wrap;
}
.container{
  width: 33%;
  position: relative;
  display: inline-block;
}
.container img{
  width: 100%;
  
}

.overlay {
  position: absolute;
  filter: grayscale(100);
  transition: all 2s;
  
}
.overlayleft{
  width: 100%;
  top: 0;
  left: 0;
  filter: grayscale(100);
  height: 100%;
}
.container:hover .overlay{
  filter: none;
}
.container:hover .overlayleft{
  width: 0%;
  filter: none;
}